
<body id="top" class="scrollspy">

{#  Pre Loader  #}
<div id="loader-wrapper">
    <div id="loader"></div>
 
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
 
</div>

{# Navigation #}
 <div class="navbar-fixed">
  {#  Dropdown Structure  #}

  <ul id='dropdown1' class='dropdown-content {{ navbarColor }}'>
    <li><a href="#!" style="color: #{{ colorNavbar }};">uno</a></li>
    <li><a href="#!" style="color: #{{ colorNavbar }};">dos</a></li>
    <li><a class="dropdown-button {{ navbarColor }}" style="color: #{{ colorNavbar }};" data-activates="secondDRP1">dropdown</a></li>
  </ul>

  <ul id='secondDRP1' class='dropdown-content secondDropDown'>
    <li><a class="truncate {{ navbarColor }}" style="color: #{{ colorNavbar }};" style="color: #{{ colorNavbar }};">drop 1</a></li>
    <li><a class="truncate {{ navbarColor }}" style="color: #{{ colorNavbar }};" style="color: #{{ colorNavbar }};">drop 2</a></li>
    <li><a class="truncate {{ navbarColor }}" style="color: #{{ colorNavbar }};" style="color: #{{ colorNavbar }};">drop 3</a></li>
  </ul>

  {#  Dropdown Structure  #}
  <ul id='dropdown2' class='dropdown-content'>
    <li><a href="#!" style="color: #{{ colorNavbar }};">uno</a></li>
    <li><a href="#!" style="color: #{{ colorNavbar }};">dos</a></li>
    <li class="divider"></li>
    <li><a class="dropdown-button" href="#!" data-activates="secondDRP2">dropdown</a></li>
  </ul>

  <ul id='secondDRP2' class='dropdown-content secondDropDown'>
    <li><a class="truncate" href="#!" style="color: #{{ colorNavbar }};">drop 1</a></li>
    <li><a class="truncate" href="#!" style="color: #{{ colorNavbar }};">drop 2</a></li>
    <li><a class="truncate" href="#!" style="color: #{{ colorNavbar }};">drop 3</a></li>
  </ul>

    <nav id="nav_f" class="{{ navbarColor }}" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="<?= base_url(); ?>" id="logo-container" class="brand-logo" style="color: #{{ colorLogo }};">{{ logo|title }}</a>
                <ul class="right hide-on-med-and-down">
                    {% for navbar in categories_navbar %}
                    <li><a href="#{{ navbar }}" style="color: #{{ colorNavbar }};">{{ navbar|title }}</a></li>
                    {% endfor %}
                    <li>
                        <a class='dropdown-button' href='#' data-activates='dropdown1' style="color: #{{ colorNavbar }};">Drop Me!</a>
                    </li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    {% for navbar in categories_navbar %}
                    <li><a href="#{{ navbar }}">{{ navbar|title }}</a></li>
                    {% endfor %}
                    <li>
                        <a class='dropdown-button' href='#' data-activates='dropdown2'>Drop Me!</a>
                    </li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>
        </div>
    </nav>
</div>

{# Hero #}
<div class="section no-pad-bot" id="index-banner" style="background: #{{ indexBanner }};">
    <div class="container">
        <h1 class="text_h center header cd-headline letters type">
            <span>MyPEWeb</span> 
           <span class="cd-words-wrapper waiting">
                <b class="is-visible">Inacap</b>
                <b>2017</b>
                <b>Informática</b>
            </span> 
        </h1>
    </div>
</div>

{# inicio and service #}
<div id="inicio" class="section scrollspy">
    <div class="container">
        <div class="row">
            <div  class="col s12">
                <h2 class="center header text_h2">
                    {#  {% if header_text_h2 is defined %} saber si el array está definido  #}
                    {% if header_text_h2 %} {#  saber si el array esta vacio  #}
                        {{ header_text_h2 }}
                    {% else %}
                        Aquí no hay nada.
                </h2>
                {% endif %}
            </div>
                {% for icons in icons_Caption %}
                    <div  class="col s12 m4 l4 hoverable">
                        <div class="center promo promo-example">
                            <i class="{{ icons }}" style="color: #{{ colorIcon }};"></i>
                            {% for caption in promo_captions %}
                            <h5 class="promo-caption">{{ caption }}</h5>
                            {% endfor %}
                            {% for text in text_caption %}
                            <p class="light center">{{ text }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
</div>

{# productos #}
<div class="section scrollspy" id="productos">
    <div class="container">
        <h2 class="header" style="color: #{{ product_header.color_p_h }};" >{{ product_header.content_p_h|title }} </h2>
        <div class="row">
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<?= base_url('resources/img/project1.jpg')?>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<?= base_url('resources/img/project2.jpeg')?>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<?= base_url('resources/img/project3.png')?>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<?= base_url('resources/img/project4.jpg')?>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<?= base_url('resources/img/project5.png')?>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s12 m4 l4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="<?= base_url('resources/img/project6.jpeg')?>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{# Parallax #}
<div class="parallax-container">
    <div class="parallax"><img src="<?= base_url('resources/img/parallax1.png')?>"></div>
</div>

{# Team #}
<div class="section scrollspy" id="team">
    <div class="container">
        <h2 class="header text_b"> Our Team </h2>
        <div class="row">
            <div id="perfilFalsh" class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="<?= base_url('resources/img/avatar1.png')?>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Flash <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CEO</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="<?= base_url('resources/img/avatar2.png')?>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Cat Woman<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Designer</a></em></small>
                        </span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="<?= base_url('resources/img/avatar3.png')?>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">
                            Capt. America <br/>
                            <small><em><a class="red-text text-darken-1" href="#">CMO</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m3">
                <div class="card card-avatar">
                    <div class="waves-effect waves-block waves-light">
                        <img class="activator" src="<?= base_url('resources/img/avatar4.png')?>">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Robin<br/>
                            <small><em><a class="red-text text-darken-1" href="#">Developer</a></em></small></span>
                        <p>
                            <a class="blue-text text-lighten-2" href="https://www.facebook.com/joash.c.pereira">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://twitter.com/im_joash">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://plus.google.com/u/0/+JoashPereira">
                                <i class="fa fa-google-plus-square"></i>
                            </a>
                            <a class="blue-text text-lighten-2" href="https://www.linkedin.com/in/joashp">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>