
{# Footer #}
<footer id="contacto" class="page-footer {{ footer_color }} scrollspy">
    <div class="container">  
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Redes sociales</h5>
                <ul>
                {% for datos in rrss %}
                    <li>
                        <a class="white-text" href="https://{{ datos }}">
                            <i class="small fa {{ datos }} white-text"></i>  {{ datos }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col l8 s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="mdi-action-account-circle prefix white-text"></i>
                        <input id="form_name" name="name" type="text" class="validate white-text">
                        <label for="icon_prefix" class="white-text">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="mdi-communication-email prefix white-text"></i>
                        <input id="form_email" name="email" type="email" class="validate white-text">
                        <label for="icon_email" class="white-text">Correo electrónico</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="mdi-editor-mode-edit prefix white-text"></i>
                        <textarea id="msg_text" name="message" class="materialize-textarea white-text"></textarea>
                        <label for="icon_prefix2" class="white-text">Mensaje</label>
                    </div>
                    <div class="col offset-s7 s5">
                        <span class="col s10">Contacto: +56912345678</span>
                        <button id="sendMail" class="btn waves-effect waves-light red darken-1">Enviar
                            <i class="mdi-content-send right white-text"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright {{ footer_color_end }}">
        <div class="container">
            Creado por Clínica MyPE Inacap Renca <a class="white-text" href="http://www.inacap.cl"></a>. Gracias a  <a class="white-text" href="http://materializecss.com/">materializecss</a>
        </div>
    </div>
</footer>